.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    &>.form-group {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        margin: 0.5rem 0;
        position: relative;
        font-family: 'Montserrat', sans-serif;

        label {
            color: var(--indigo);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(100%, -50%);

            .material-symbols-outlined {
                font-size: 1.5rem;
            }

            body.dark & {
                color: var(--indigo-100);
            }
        }

        input {
            width: 100%;
            position: relative;
            margin: 0 auto;
            padding: 0.6rem 3rem;
            color: inherit;
            border-bottom: 2px solid var(--back-shadow);

            &:hover {
                border-bottom: 2px solid var(--back-shadow);
            }

            &:active,
            &:focus {
                border-bottom: 2px solid var(--indigo);

                &+label {
                    color: var(--red-700);
                }
            }

            &:disabled,
            &:disabled:active,
            &:disabled:focus {
                border-bottom: 2px solid var(--transparent);
            }
        }
    }

    &>section {
        width: 100%;
        height: calc(100vh - 10rem);
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.tracks {
    width: 100%;
    padding: 1rem;
    margin: 0 1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;

        h2 {
            width: 100%;
            font-size: 2rem;
            line-height: 2.5rem;
            padding: 0 2rem;
        }
    }
}