.home {
    width: 100vw;
    height: fit-content;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.65);
    background-attachment: fixed;

    section {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        position: relative;

        button.cta {
            width: fit-content;
            height: fit-content;
            all: unset;
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
            padding: 1.125rem 1.75rem;
            border-radius: 500px;
            background-color: #fff;
            color: var(--green);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.35rem;
            line-height: 1.75rem;
            box-shadow: var(--shadow-elevation-4dp);
            font-weight: 600;
            cursor: pointer;
            transition: all 0.25s ease-in-out;

            &:hover,
            &:active,
            &:focus {
                background-color: #ffffffdd;
            }

            .material-symbols-outlined {
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }
        }
    }

    &-hero,
    &-how,
    &-text,
    &-music {
        padding: 0 2rem;


        button.go-back {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }

        &-content {
            width: 80%;
            font-size: 2.75rem;
            line-height: 6rem;
            color: var(--brown);
            margin: 0 auto 0 2rem;

            h1 {
                font-size: 4.75rem;
                line-height: 6rem;
                font-weight: 700;
                color: var(--brown-700);
                margin: 1rem 0;
            }

            h3 {
                font-size: 3.5rem;
                line-height: 4rem;
                font-weight: 500;
                color: var(--blue-700);
            }

            textarea {
                all: unset;
                width: 100%;
                height: 50vh;
                position: relative;
                margin: 0 auto;
                padding: 0.6rem 0.5rem;
                color: var(--accent-color);
                border-bottom: 2px solid var(--back-shadow);
                transition: all 0.25s ease-in-out;
                font-size: 2rem;

                &:hover {
                    border-bottom: 2px solid var(--back-shadow);
                }

                &:active,
                &:focus {
                    border-bottom: 2px solid var(--accent-color);

                    &+label {
                        color: var(--brown-700);
                    }
                }

                &:disabled,
                &:disabled:active,
                &:disabled:focus {
                    border-bottom: 2px solid var(--transparent);
                }
            }
        }

    }

    &-music {
        height: fit-content !important;
        min-height: 100vh;
        padding: 0;
        justify-content: flex-start !important;
        position: relative;

        &-content {
            width: 100%;
            margin: 5rem 2rem 0 2rem;

            h1 {
                padding: 1rem 1.75rem;
            }

            h3 {
                font-size: 2.75rem;
                line-height: 3.5rem;
                padding: 0 2rem;
            }

        }

        &-quote {
            .blockquote {
                padding: 60px 80px 40px;
                position: relative;
            }

            .blockquote p {
                font-family: "Utopia-italic";
                font-size: 1.25rem;
                font-weight: 700;
                text-align: center;
            }

            .blockquote:before {
                position: absolute;
                font-family: 'FontAwesome';
                top: 0;

                content: "\f10d";
                font-size: 150px;
                color: rgba(0, 0, 0, 0.1);

            }

            .blockquote::after {
                content: "";
                top: 20px;
                left: 50%;
                margin-left: -100px;
                position: absolute;
                border-bottom: 3px solid #bf0024;
                height: 3px;
                width: 200px;
            }

            @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

            .otro-blockquote {
                font-size: 1.5rem;
                width: 60%;
                margin: 50px auto;
                font-family: Open Sans;
                font-style: italic;
                color: #555555;
                padding: 1.2em 30px 1.2em 75px;
                border-left: 8px solid #78C0A8;
                line-height: 1.6;
                position: relative;
                background: #EDEDED;
            }

            .otro-blockquote::before {
                font-family: Arial;
                content: "\201C";
                color: #78C0A8;
                font-size: 3em;
                position: absolute;
                left: 10px;
                top: -10px;
            }

            .otro-blockquote::after {
                content: '';
            }

            .otro-blockquote span {
                color: #333333;
                font-style: normal;
                font-size: 2rem;
                line-height: 3.5rem;
                font-weight: bold;
                margin: 0.5rem 0.5rem 0.5rem auto;
            }
        }

        .null {
            width: 20rem;
            height: 25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }

            h1 {
                font-size: 2rem;
                line-height: 2.5rem;
                text-align: center;
                margin: 2rem auto;
            }
        }
    }

    &-player {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: initial;
        line-height: initial;
    }
}